.container {
    background: black;
    display: inline-block;
    border: 5px solid black;
  }
.grid {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    grid-gap: 5px;
  }
.cell {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: white;
  }

#c59:hover, #c60:hover, #c52:hover, #c44:hover, #c45:hover, #c46:hover, #c38:hover, #c30:hover, #c29:hover, #c21:hover,
#c20:hover, #c19:hover, #c18:hover, #c10:hover, #c2:hover {
    background-color: yellow;
    filter: blur(1px);

}














